// Tema oscuro
$darkBackgroundColor: #2b2b2b;
$darkFirstColor: #b8ccaa;
$darkSecondColor: #516a43;


// Tema claro
$lightBackgroundColor: #b8ccaa;
$lightFirstColor: #2b2b2b;
$lightSecondColor: #516a43;

// Fuente
$fontFamily: 'Belanosima', sans-serif;